#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  justify-content: center;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(9, 40px);
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid white;
}

input {
  width: 25px;
  height: 25px;
}
